<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.memberpjt.member.IProfileThumDao">
	
	<insert id="insertNewProfileThum" 
			parameterType="com.office.memberpjt.member.ProfileThumDto">
		INSERT INTO TBL_PROFILE_THUMS(M_ID, PT_THUM, PT_REG_DATE, PT_MOD_DATE)  
		VALUES(#{m_id}, #{pt_thum}, NOW(), NOW())
	</insert>
	
	<select id="getProfileThums"
			resultType="com.office.memberpjt.member.ProfileThumDto">
	
		SELECT 
			* 
		FROM 
			TBL_PROFILE_THUMS 
		WHERE 
			M_ID = #{m_id} 
		ORDER BY PT_NO DESC
	
	</select>
	
</mapper>